* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    border: solid 1px green;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.fruit-container {
    border: dotted 1px gray;
    display: flex;
    flex-direction: row;

    max-height: 100px;
    width: 300px;

    justify-content: space-between;
    align-items: baseline;

    margin: 20px 0;
    padding: 20px;
}

.span {
    flex-basis: auto;
}

.logo-image {
    width: 100%;
}

h1 {
    padding: 0 0 30px 0;
}

.buttons-container {
    /*border: solid 1px blue;*/
    display: flex;
    flex-direction: row;

    align-items: baseline;
    justify-content: space-around;
    width: 100px;
}

.button,
Button {
    width: 30px;
    height: 30px;
}

.btn-reset-counters,
.btn-submit-form {
    width: 100%;
    max-width: 300px;
}

btn-submit-form {
    width: 300px;
    padding: 12px 0;
}

form{
    display: flex;
    flex-direction: column;

    gap: 20px;
    width: 100%;
    max-width: 300px;

    margin: 20px auto;
    padding: 15px;
    border: solid 1px black;
}

